<p style="color: green"><%= notice %></p>
<div id="artists" class="d-flex mb-5 justify-content-between">
<h1>Directors</h1>
<a href="<%= new_director_path %>"><button class="btn" style="background-color: #FF375F; color: white">+ Novo</button></a>

</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th class="col-md-3" scope="col">Nome</th>
      <th class="col-md-3" scope="col">Criado em</th>
      <th class="col-md-3 text-right" scope="col" style='text-align: right'>Ações</th>
    </tr>
  </thead>
    <tbody>
      <% @directors.each do |director| %>
        <%= render director %>
      <% end %>
    </tbody>
</table>